.mainDocView{
  padding-top: 20%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 2rem;
  }
  .modal{
    position: relative;
    z-index: 0;
  }
}

.branding{
  padding: 0 20%;
}

.timer{
  span, h2{
    color: #0d1117;
  }
  button{
    border: 1px solid #0d1117;
    color: #0d1117;
  }

}